<div
  *ngIf="!datosCorrectos && mensajeError != ''"
  class="alert alert-warning"
  role="alert"
>
  {{ "mensajeError" | translate }}
</div>
<div
  *ngIf="!datosCorrectos && mensajeError1 != ''"
  class="alert alert-warning"
  role="alert"
>
  {{ "mensajeError1" | translate }}
</div>
<div
  *ngIf="!datosCorrectos && mensajeError2 != ''"
  class="alert alert-warning"
  role="alert"
>
  {{ "mensajeError2" | translate }}
</div>

<div class="container">
  <div class="text-center">
    <img src="assets/logo.png" />
  </div>
  <form [formGroup]="formularioLogin">
    <!--CORREO ELECTRONICO-->
    <div class="form-group">
      <label for="email">Correo electrónico:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
        placeholder="Ingrese su correo electrónico"
        formControlName="email"
      />
    </div>
    <div
      *ngIf="
        !formularioLogin.get('email').valid &&
        formularioLogin.get('email').touched
      "
      class="alert alert-danger"
      role="alert"
    >
      Ingresa un correo electrónico válido.
    </div>
    <div class="form-group">
      <!--CONTRASEÑA-->
      <label for="password">Contraseña:</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Ingrese su contraseña"
        formControlName="password"
        (keyUp.enter)="ingresar()"
      />
    </div>
    <div
      *ngIf="
        !formularioLogin.get('password').valid &&
        formularioLogin.get('password').touched
      "
      class="alert alert-danger"
      role="alert"
    >
      Ingresa una contraseña válida.
    </div>
    <button
      [disabled]="!formularioLogin.valid"
      type="submit"
      class="btn btn-primary"
      (click)="ingresar()"
    >
      Ingresar
    </button>
  </form>
</div>
