<div class="container mt-5">
  <h4>Listado de clientes</h4>

  <!-- BUSCADOR DE CLIENTES -->
  <form>
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Busque un cliente" />
    </div>
  </form>

  <div class="row">
    <!-- CLIENTE -->
    <div class="col-sm-3">
      <div class="card">
        <img
          src="assets/images/user.png"
          class="card-img-top imgCliente"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Nombre Apellido</h5>

          <div class="card-body">
            <a href="#" class="card-link">Ediatr</a>
            <a href="#" class="card-link text-danger">Desactivar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img
          src="assets/images/user2.png"
          class="card-img-top imgCliente"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Nombre Apellido</h5>

          <div class="card-body">
            <a href="#" class="card-link">Ediatr</a>
            <a href="#" class="card-link text-danger">Desactivar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img
          src="assets/images/user4.png"
          class="card-img-top imgCliente"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Nombre Apellido</h5>

          <div class="card-body">
            <a href="#" class="card-link">Ediatr</a>
            <a href="#" class="card-link text-danger">Desactivar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img
          src="assets/images/user5.png"
          class="card-img-top imgCliente"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Nombre Apellido</h5>

          <div class="card-body">
            <a href="#" class="card-link">Ediatr</a>
            <a href="#" class="card-link text-danger">Desactivar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
